* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

a{
    text-decoration: none;
}

/* ============================================================================================================== */
/* MUSIC-START */
/* ============================================================================================================== */

.music {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  z-index: 999;
  width: auto;
  height: auto;
  justify-content: flex-end;
}

#playPauseBtn {
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}


/* ============================================================================================================== */
/* MUSIC-END */
/* ============================================================================================================== */

.content{
    flex:1;
}

.body {
    background-color: white;
    font-family: 'Inria Serif', serif;
    flex: 1;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;     
    gap: 0.3rem;
    padding-left: 3rem;
}

/* ============================================================================================================== */
/* NAVIGATION-START */
/* ============================================================================================================== */
.title{
    font-size: 2rem;
    font-weight: normal;
}

.subtitle{
    font-size: 0.6rem;
}

.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 2rem;
    position: relative;
}

.nav__bar {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    border-bottom: 0.1rem solid black;
    width: 100%;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.nav__bar.mobile{
    display: none;
}

.nav__bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.nav__bar li {
    margin: 0.2rem;
    padding: 2rem 3rem;
}

.nav__bar li a {
    font-size: 1.7rem; 
}

.nav-link.home:hover , .nav-link.about_us:hover {
    background-color: black;
    color: white;
    padding: .5rem 1.7rem;
    border-radius: 2rem;
    text-align: center;
}

.nav-link.blogs:hover {
    background-color: black;
    color: white;
    padding: .5rem 1.7rem;
    text-align: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    cursor: default;
}

.nav__bar a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem; 
    padding: 1rem 2rem;
    text-decoration: none !important;
}

.nav-link.active {
    background-color: black;
    color: white;
    padding: .5rem 1.7rem;
    border-radius: 2rem;
    text-align: center;
    cursor: default;
}

.nav-link.active_blog {
    background-color: black;
    color: white;
    padding: .5rem 1.7rem;
    border-radius: 2rem;
    text-align: center;
    cursor: default;
}

ul li:hover > .nav-link.active_blog {
    border-radius: 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}


ul li ul.dropdown li {
    display: block;
    border-bottom: 0.01rem solid white;
    padding: 0;
    margin: 0;
}

ul li ul.dropdown {
    background-color: black;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 0;
    margin: 0;
    width: 15rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown a {
    color: white;
    font-size: 1rem;
    display: block; 
    text-decoration: none;
    padding: 0.5rem;
}

ul li ul.dropdown a:hover {
    color: black;
}

ul li ul.dropdown li:hover {
    display: block;
    background-color: #B9B9B9;
    width: 15rem;
}

ul li ul.dropdown li:last-child, ul li ul.dropdown li:last-child:hover {
    padding-bottom: 0.3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

ul li:hover > .blogs {
    background-color: black;
    color: white;
    padding: .5rem 1.7rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* ============================================================================================================== */
/* NAVIGATION-END */
/* ============================================================================================================== */

/* ============================================================================================================== */
/* HOME-START */
/* ============================================================================================================== */

.main_content{
    padding: 5rem 7rem;
}

.main_content h1{
    font-size: 3rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.fill_img {
  min-width: 40rem;
  max-width: 40rem;
  min-height: 20rem;
  max-height: 20rem;
  object-fit: cover;
  display: block;
}

.home_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.home_main_text{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.main_title{
    font-size: clamp(1rem, 2.5vw, 3rem);
    margin-bottom: 1rem;
}

.main_author{
    color: #BCBBBB;
}

.blog_content{
    margin-top: clamp(0.1rem, 1vw, 1rem);
    margin-bottom: clamp(0.1rem, 2vw, 2rem);
    font-size: clamp(0.1rem, 1.2vw, 1.3rem);
    font-style: italic;
}

.read_now_main{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: .7rem;
    width: 30%;
    text-align: center;
    border-radius: 2rem;
}

.read_now_main:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.other{
    display: flex;
    align-items: center;
    margin: clamp(2%, 3vh, 10%) 7%;
    gap: clamp(0.7rem, 1vw, 1rem); 
}

.other h1 {
    font-size: clamp(1rem, 7vw, 3rem);
    white-space: nowrap;
    padding-right: clamp(1rem, 0.5vw, 2rem);
}

.line{
    flex-grow: 1;
    height: 0.1rem;
    background-color: black; 
}

.fill_img_scroll{
    min-width: 22rem;
    max-width: 22rem;
    min-height: 12rem;
    max-height: 12rem;
    display: block;
    object-fit: cover;
}

.fill_img_scroll.shane, .fill_img_scroll.randel{
    object-position: 50% 87%;
}
.fill_img_scroll.yona{
    object-position: top;
}
.fill_img_scroll.blogart{
    object-position: 50% 20%;
}

.home_blogs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
    max-width: 100%;
    margin: 0;
}

.read_now{
    text-decoration: none;
    font-size: 1rem;
    font-style: italic;
    color: black;
    background-color: white;
    width: 30%;
    padding: 0.4rem 0;
    text-align: center;
    border-radius: 3rem;
    border: 0.1rem solid black;
    margin: 1.5rem 0 0.5rem 0;
}

.read_now:hover{
    background-color: black;
    color: white
}

.blog_title {
    font-size: clamp(0.5rem, calc(1vw + 1vh), 2rem);
    width: 90%;
}

.blog_author{
    font-size: 0.8rem;
    width: 75%;
}

.scroll_container{
    display: flex;      
    align-items: flex-start;      
    flex-wrap: nowrap;          
    overflow-x: auto;        
    scroll-behavior: smooth;
    gap: 1rem;                  
    padding: 0.5rem; 
    scrollbar-width: none;         
    -ms-overflow-style: none;     
    overflow-y: hidden;
}

.scroll_container::-webkit-scrollbar {
    display: none;                
}

.scroll_padding{
    padding: 0rem 7rem 5rem 7rem;
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
}


.scroll_wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.scroll_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 5;
}



/* ============================================================================================================== */
/* HOME-END */
/* ============================================================================================================== */

/* ============================================================================================================== */
/* FOOTER-START */
/* ============================================================================================================== */
.footer {
    position: relative;
    background: black;
    z-index: 1000;
}

.contact_us{
    color: white;
}

.contact{
    color: white;
    font-size: 2.5rem;
}

.footer_nav_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.footer_nav_left p{
    margin-top: 1rem;
    margin-right: 1rem;
}

.footer_nav_right {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.footer_nav_right p{
    margin-top: 1rem;
    margin-left: 1rem;
}

.footer_title{
    color: white;
    text-align: right;
    font-size: 2.5rem;
}

.footer_l_r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.logo_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo_foot{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.small_footer{
    display: none;
}

/* ============================================================================================================== */
/* FOOTER-END */
/* ============================================================================================================== */
/* ============================================================================================================== */
/* ABOUT_US-START */
/* ============================================================================================================== */

.about_content{
    margin: 5% 7%;
}

.about_fill_img {
  min-width: 35rem;
  min-height: 20rem;
  max-width: 40rem;
  max-height: 20rem;
  object-fit: cover;
  display: block;
}

.about_content h1{
    margin-bottom: clamp(0.5rem, 10vh, 6rem);
    font-size: clamp(20%, 5vw, 300%);
    text-align: center;
    font-style: italic;
}

.about_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about_main_text{
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_main_text h2{
    font-size: clamp(20%, 7vw, 300%);
}

.about_blog_content {
  padding: clamp(1rem, 1vw, 1.4rem) 0;
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  max-height: 20rem;
  font-style: italic;
  word-spacing: 1rem;
  text-align: justify;
  line-height: clamp(1.5rem, 2vw, 2rem);
}

.about_other {
    display: flex;
    align-items: center;
    margin: 0 7%;
    gap: 1rem; 
}

.about_other h1 {
    font-size: clamp(0.1rem, 5vw, 3rem);
    margin: 0;
    white-space: nowrap;
}

.about_line {
    flex-grow: 1;
    height: 0.1rem;
    background-color: black;
}

.whole_profile{
    margin: 2rem 7rem;
}

.about_profile{
        max-width: 25rem;
        min-width: 10%;
        max-height: auto;
        min-height: auto;
        aspect-ratio: 1/1;
        display: block;
        object-fit: cover;
}

.profile_1, .profile_2, .profile_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    gap: 2rem;
}


.profile h1{
    font-size: clamp(0.3rem, 2vw, 1.5rem);
    text-align: center;
    margin-top: clamp(0.3rem, 3vw, 2rem);
}

.role{
    margin-top: clamp(0.2rem, 1vh, 1rem);
    color: #8D8D8D;
}

.descrip{
    font-size: clamp(0.3rem, 2vw, 1rem);
    text-align: center;
    margin-top: clamp(0.3rem, 3vw, 2rem);
}

.profile{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
    max-width: 25rem;
    min-width: 25rem;
}

/* .profile_2{
    padding: 0 7rem 7rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
.whole_profile_ipad{
    display: none;
}

/* ============================================================================================================== */
/* ABOUT_US-END */
/* ============================================================================================================== */
/* ============================================================================================================== */
/* RESPONSIVENESS */
/* ============================================================================================================== */
/* ============================================================================================================== */
/* IPAD/TABLET */
/* ============================================================================================================== */
@media (max-width: 1500px) {
    .read_now_main{
        width: 30%;
    }
}

@media (max-width: 1420px) {
    .read_now{
        width: 50%;
    }

    .fill_img{
        min-width: 35rem;
        max-width: 35rem;
    }
}

@media (max-width: 1300px) {

    .read_now{
        width: 50%;
    }
    .fill_img{
        min-width: 30rem;
        max-width: 30rem;
    }

    .about_profile{
        max-width: 20rem;
        min-width: 20rem;
    }

    .profile{
        max-width: 20rem;
        min-width: 20rem;
    }

}
@media (max-width: 1190px) {

    .read_now{
        width: 50%;
    }

    .fill_img{
        min-height: 17rem;
        max-height: 17rem;
    }

    .about_profile{
        max-width: 17rem;
        min-width: 17rem;
    }

    .profile{
        max-width: 17rem;
        min-width: 17rem;
    }
}
@media (max-width: 1090px) {
    .read_now{
        width: 50%;
    }
}


@media (max-width: 1100px){
    /* ============================================================================================================== */
    /* HAMBURGER */
    /* ============================================================================================================== */
    .hamburger{
        font-size: 4rem;
        margin-top: 0;
    }

    .title{
        font-size: 3rem;
    }
    .subtitle{
        font-size: 1rem;
    }

    .nav__header {
        width: 100%;
        padding: 2rem 2rem;;
    }

    body.noscroll {
        overflow: hidden;
    }

    .content_footer {
        position: fixed;            
        top: 0;
        left: 0;
        width: 100vw;                 
        height: 100vh;             
        background-color: rgba(0, 0, 0, 0.5);  
        z-index: 11;                
        display: none;            
    }
    
    #menu-toggle:checked + .hamburger + .drop_menu {
        display: flex;
    }

    #menu-toggle:checked + .hamburger + .drop_menu + .content_footer {
        display: flex;
    }

    .drop_menu {
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0;
        margin: 0;
        background-color: #252525;
        z-index: 9;
        display: none;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none; 
    }

    .drop_menu ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .drop_menu li {
        margin: 0;
        padding: 2rem 5rem 2rem 2rem;
    }

    .drop_menu li:hover{
        background-color: #818181;
        padding: 2rem 5rem 2rem 2rem;
    }

    .drop_menu li a {
        display: block;      
        font-size: 3rem;
        margin: 0;
        text-decoration: none;
        color: white;
    }

    .nav-link.mobile{
        color: white;
        text-align: left;
    }

    .nav-link.active, .nav-link.active_blog  {
        background-color: transparent;
        color: white;
        border-radius: 0;
        text-align: left;
    }
    

    .nav-link.home:hover , .nav-link.about_us:hover {
        background-color: transparent;
        color: white;
        padding: 2rem 5rem 2rem 2rem;
        border-radius: 0;
        text-align: left;
    }

    .nav-link.blogs:hover {
        background-color: transparent;
        color: white;
        padding: 2rem 5rem 2rem 2rem;
        text-align: left;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    ul li:hover > .blogs {
        background-color: transparent;
        color: white;
        padding: 2rem 5rem 2rem 2rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .dropdown{
        display: none !important;
    }

    ul li ul.dropdown li {
        display: flex;
        position: relative;
        margin: 0;
        width: 20rem;
    }

    ul li ul.dropdown {
        position: relative;
        z-index: 99;
        display: none;
        padding: 0;
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: transparent;
    }

    ul li:hover ul.dropdown {
        display: block;
    }

    ul li ul.dropdown a {
        color: white;
        font-size: 1.5rem;
        display: block;
        text-decoration: none; 
        box-sizing: border-box; 
        background-color: transparent; 
        line-height: 2rem;
        white-space: normal;
        word-break: break-word;
        overflow-wrap: break-word;
    }


    ul li ul.dropdown li:hover {
        background-color: transparent;  
        padding: 0;
        width: 20rem;       
        cursor: pointer;     
    }

    ul li ul.dropdown a:hover {
        color: black;
        background-color: #B9B9B9;
    }


    ul li ul.dropdown li:last-child, ul li ul.dropdown li:last-child:hover {
        padding-bottom: 0.3rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }


    .dropdown.show {
        display: flex !important;
    }

    .nav__bar{
        display: none;
    }

    .nav__bar.mobile{
        display: flex;
    }
    /* ============================================================================================================== */
    /* HAMBURGER-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* HOME-START */
    /* ============================================================================================================== */

    .body::-webkit-scrollbar {
        display: none;                
    }
    .home_main{
        flex-direction: column;
        justify-content: right;
    }

    .main_content{
        padding: 0;
        margin: 5rem 7rem 7rem 7rem;
        
    }

    .read_now_main{
        width: 20%;
    }

    /* .main_content h1{
        text-align: left;
        padding: 4rem 0 0 11rem;
    }*/

    .image-wrapper {
        display: flex;
        justify-content: center; 
        align-items: center;    
    }

    .main_title{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .main_author{
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .fill_img {
        min-width: 100%;
        max-width: 100%;
        min-height: 25rem;
        max-height: 25rem;
    } 

    .blog_content{
        font-size: 1.7rem;
    }

    .home_main_text{
        padding: 0;
        margin-top: 1rem;
    }

    .scroll_padding{
        padding: 0;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 0 2rem 0;
    }

    .scroll_btn{
        display: none;
    }

    .scroll_wrapper{
        padding: 0 3rem;
        width: 100vw;
    }

    .fill_img_scroll{
        min-width: 28rem;
        max-width: 28rem;
        min-height: 15rem;
        max-height: 15rem;
        display: relative;
    }

    .home_blogs{
        margin: 0 1rem;
    }
    
    .read_now{
        max-width: 50%;
        min-width: 50%;
    }

    .blog_title{
        font-size: 1.8rem;
        max-width: 80%;
        min-width: 80%;
    }

    .drop_menu{
        display: none;
    }
    /* ============================================================================================================== */
    /* HOME-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* ABOUT-US-START */
    /* ============================================================================================================== */

    .about_profile{
        max-width: 25rem;
        min-width: 25rem;
    }

    .profile{
        max-width: 25rem;
        min-width: 25rem;
    }

    .about_content{
        margin-top: 5rem;
    }

    .about_content h1{
        margin-bottom: clamp(0.5rem, 6vh, 6rem);
    }

    .about_fill_img {
        min-width: 30rem;
        min-height: 15rem;
        max-width: 30rem;
        max-height: 18rem;
    }

    .about_main_text{
        padding-left: 2rem;
    }


    .about_blog_content{
        padding-top: 0.5rem;
        font-size: 1.2rem;
        word-spacing: 0.2rem;
        line-height: 1.5rem;
    }
    .whole_profile_ipad{
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }
    .whole_profile{
        display: none;
    }

    /* ============================================================================================================== */
    /* ABOUT-US-END */
    /* ============================================================================================================== */
}


@media (max-width: 990px) {
    .line{
        width: 47%;
    }
    /* ============================================================================================================== */
    /* HAMBURGER */
    /* ============================================================================================================== */

    .drop_menu li a {       
        font-size: 2rem;
    }
    ul li ul.dropdown a {
        font-size: 1.5rem;
    }

    ul li ul.dropdown li, ul li ul.dropdown li:hover{
        width: 18rem;
    }

    /* ============================================================================================================== */
    /* HAMBURGER-END */
    /* ============================================================================================================== */
    /* .main_content h1, .home_main_text{
        padding-left: 9rem;
    } */
    /* ============================================================================================================== */
    /* ABOUT-US-START */
    /* ============================================================================================================== */

    .about_fill_img {
        min-width: 23rem;
        min-height: 10rem;
        max-width: 25rem;
        max-height: 13rem;
    }


    .about_main_text{
        padding-left: 2rem;
    }

    .about_blog_content{
        padding-top: 0.5rem;
        font-size: 1rem;
        word-spacing: 0.2rem;
        line-height: 1.3rem;
    }
    .whole_profile_ipad{
        display: flex;
        flex-direction: column;
    }

    .about_profile{
        max-width: 20rem;
        min-width: 20rem;
    }

    .profile{
        max-width: 20rem;
        min-width: 20rem;
    }

    /* ============================================================================================================== */
    /* ABOUT-US-END */
    /* ============================================================================================================== */
}

@media (max-width: 830px) {
    .blog_title{
        font-size: 1.7rem;
    }

    .fill_img {
        max-width: 35rem;
        min-width: 35rem;
        max-height: 20rem;
        min-height: 20rem;
    }
    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */
    .contact{
        color: white;
        font-size: 2rem;
    }

    .logo_foot{
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
    }

    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* ABOUT-US-START */
    /* ============================================================================================================== */
    .about_fill_img {
        min-width: 23rem;
        min-height: 10rem;
        max-width: 25rem;
        max-height: 13rem;
    }

    .about_main_text{
        padding-left: 2rem;
    }

    .about_blog_content{
        padding-top: 0.5rem;
        font-size: 0.9rem;
        word-spacing: 0.2rem;
        line-height: 1.2rem;
    }

    /* ============================================================================================================== */
    /* ABOUT-US-END */
    /* ============================================================================================================== */
}

@media (max-width: 770px){
    .fill_img {
        max-width: 30rem;
        min-width: 30rem;
        max-height: 15rem;
        min-height: 15rem;
    }

    .read_now_main{
        width: 30%;
        margin-bottom: 1rem;
    }

    .blog_content{
        margin-bottom: 2rem;
    }

    /* ============================================================================================================== */
    /* HAMBURGER-START */
    /* ============================================================================================================== */
    ul li ul.dropdown a {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    /* ============================================================================================================== */
    /* HAMBURGER-END */
    /* ============================================================================================================== */

    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */
    .footer {
        position: relative;
        background: black;
        bottom: 0;
        left: 0;
        padding: 1.5rem;
    }

    .contact_us{
        color: white;
    }

    .contact{
        color: white;
        font-size: 1.5rem;
        width: auto;
    }

    .footer_nav_left {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 0.7rem;
        width: auto;
    }

    .footer_nav_left p{
        padding-right: 0.4;
    }

    .footer_nav_right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 0.7rem;
        width: auto;
    }

    .footer_nav_right p{
        padding-left: 0.4;
    }

    .footer_title{
        color: white;
        text-align: right;
        font-size: 1.5rem;
    }

    .footer_l_r {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

    .logo_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .logo_foot{
        margin-top: 0.3rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .footer_logo {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* ABOUT-US-START */
    /* ============================================================================================================== */

    .about_profile{
        max-width: 80%;
        min-width: 10%;
    }

    .profile{
        max-width: 80%;
        min-width: 10%;
        margin-left: auto;
        margin-right: auto;

    }

    .about_blog_content{
        padding-top: 0.5rem;
        font-size: 0.8rem;
        word-spacing: 0.2rem;
        line-height: 1.1rem;
    }

    .about_content{
        margin: 3rem;
    }

    .about_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about_fill_img {
        min-width: 2rem;
        min-height: 15rem;
        max-width: 50rem;
        max-height: 18rem;
    }

    .about_main_text{
        padding-left: 0;
        text-align: center;
    }

    .about_main_text h2{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .about_blog_content{
        padding-top: 0.5rem;
        font-size: clamp(0.3rem, 2vh, 1.2rem);
        word-spacing: 0.2rem;
        line-height: 1.5rem;
    }

    .whole_profile_ipad{
        display: flex;
        flex-direction: column;
        margin: 1rem 2.5rem 2rem 2.5rem;
    }

    .whole_profile{
        display: none;
    }

    .profile_1, .profile_2, .profile_3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .profile h1{
        font-size: clamp(0.7rem, 6vw, 2rem);
        text-align: center;
    }
    .role{
        font-size: clamp(0.2rem, 3vw, 2rem);
    }

    .descrip{
        font-size: clamp(0.5rem, 5vw, 1.5rem);
        text-align: center;
        margin-top: clamp(0.3rem, 3vw, 2rem);
    }

    /* ============================================================================================================== */
    /* ABOUT-US-END */
    /* ============================================================================================================== */
}

@media (max-width: 690px){
    .fill_img {
        max-width: 25rem;
        min-width: 25rem;
    }
}


@media (max-width: 600px) {
    /* ============================================================================================================== */
    /* HAMBURGER-START */
    /* ============================================================================================================== */
        .hamburger {
            margin-left: auto;
            font-size: 2rem;
            cursor: pointer;
        }

        .logo {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            text-align: left;
            padding: 0;
        }

        .title{
            font-size: 2rem;
        }
        .subtitle{
            font-size: 0.7rem;
        }

        .nav__header {
            width: 100%;
            padding:2rem;
        }

        body.noscroll {
            overflow: hidden;
        }

        .content_footer {
            position: fixed;            
            top: 0;
            left: 0;
            width: 100vw;                 
            height: 100vh;             
            background-color: rgba(0, 0, 0, 0.5);  
            z-index: 11;                
            display: none;            
        }
        
        #menu-toggle:checked + .hamburger + .drop_menu {
            display: flex;
        }

        #menu-toggle:checked + .hamburger + .drop_menu + .content_footer {
            display: flex;
        }

        .drop_menu {
            position: absolute;
            top: 100%;
            padding: 0;
            margin: 0;
            background-color: #252525;
            display: none;
            flex-direction: column;
            height: auto;
            max-height: 80vh;
            width: 100vw;
            overflow-y: auto;
        }

        .drop_menu ul{
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
        }

        .drop_menu li {
            margin: 0;
            padding: 0;
        }

        .drop_menu li:hover{
            background-color: #818181;
            padding: 0;
        }

        .drop_menu li a {
            display: block;      
            font-size: 1rem;
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: white;
        }

        .nav-link.mobile{
            color: white;
            text-align: center;
            padding: 1rem 0;
        }

        .nav-link.active, .nav-link.active_blog{
            background-color: transparent;
            color: white;
            border-radius: 0;
            padding: 1rem 0;
            text-align: center;
            padding: 1rem 0;
        }

        .nav-link.home:hover , .nav-link.about_us:hover {
            background-color: transparent;
            color: white;
            padding: 1rem 0;
            border-radius: 0;
            text-align: center;
        }

        .nav-link.blogs:hover {
            background-color: transparent;
            color: white;
            padding: 1rem 0;
            text-align: center;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        ul li:hover > .blogs {
            background-color: transparent;
            color: white;
            padding: 1rem 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .dropdown{
            display: none !important;
        }

        ul li ul.dropdown li {
            display: flex;
            position: relative;
            margin: 0;
        }

        ul li ul.dropdown {
            position: relative;
            z-index: 99;
            display: none;
            padding: 0;
            margin: 0;
            width: 100vw;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: transparent;
        }

        ul li:hover ul.dropdown {
            display: block;
        }

        ul li ul.dropdown a {
            color: white;
            font-size: 1rem;
            padding: 0;
            margin: 1rem;
            display: block;
            text-decoration: none;
            box-sizing: border-box; 
            background-color: transparent; 
            line-height: 1.5rem;
            white-space: normal;
            word-break: break-word;
            overflow-wrap: break-word;
            text-align: center;
        }

        ul li ul.dropdown li, ul li ul.dropdown li:hover{
            width: 100%;
            justify-content: center;
        }


        ul li ul.dropdown a:hover {
            color: black;
            background-color: #B9B9B9;
        }


        ul li ul.dropdown li:last-child:hover {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .dropdown.show {
            display: flex !important;
        }
    /* ============================================================================================================== */
    /* HAMBURGER-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* HOME-START */
    /* ============================================================================================================== */
    
    .main_content{
        margin: 3rem 4rem 0 4rem;
    }

    .main_content h1{
        font-size: 2rem;
        font-style: italic;
        text-align: left;
    }

    .home_main_text{
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }

    .home_main_text h2{
        font-size: 1.5rem;
    }

    .blog_content{
        font-size: 0.7rem;
        font-style: italic;
        text-align: left;
    }

    .read_now_main{
        display: block;
        padding: 0.3rem;
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .fill_img_scroll{
        min-width: 15rem;
        max-width: 15rem;
        min-height: 10rem;
        max-height: 10rem;
        display: block;
    }

    .home_blogs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2rem;
        padding-top: 0;
        max-width: 100%;
        margin: 0;
    }

    .scroll_padding{
        padding: 0;
        margin: 0;
        max-width: 100vw;
        min-width: 100vw;
        background: transparent;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .read_now{
        text-decoration: none;
        font-size: 1rem;
        font-style: italic;
        color: black;
        background-color: white;
        width: 30%;
        padding: 0.4rem 0;
        text-align: center;
        border-radius: 3rem;
        border: 0.1rem solid black;
        margin: 1.5rem 0 0.5rem 0;
    }

    .read_now:hover{
        background-color: black;
        color: white
    }

    .blog_title{
        font-size: 1rem;
        width: auto;
    }

    .blog_author{
        font-size: 0.6rem;
        width: 75%;
    }

    .scroll_padding {
        padding: 0;
        margin: 0;
        width: 100vw;
    }

    .scroll_container{
        gap: 2rem;                  
        width: 100vw;
    }
    .scroll_wrapper{
        padding: 0 1rem;
        width: 100vw;
    }
    .scroll_btn{
        display: none;
    }
    

    /* ============================================================================================================== */
    /* HOME-END */
    /* ============================================================================================================== */

    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */

    .contact_us{
        color: white;
    }

    .contact{
        color: white;
        font-size: 1.5rem;
        width: 8rem;
    }

    .footer_nav_left {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 0.4rem;
        width: 9rem;
    }

    .footer_nav_left p{
        padding-right: 0.4;
    }

    .footer_nav_right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 0.4rem;
        width: 15rem;
    }

    .footer_nav_right p{
        padding-left: 0.;
    }

    .footer_title{
        color: white;
        text-align: right;
        font-size: 1.5rem;
    }

    .footer_l_r {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

    .logo_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .logo_foot{
        width: 1.5rem;
        height: 1.5rem;
    }

    .footer_logo {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */
    
}

@media (max-width: 530px) {
    /* ============================================================================================================== */
    /* HOME-START */
    /* ============================================================================================================== */
    
    .fill_img {
        max-width: 18rem;
        min-width: 18rem;
        max-height: 10rem;
        min-height: 10rem;
    }

    .read_now_main{
        margin-bottom: 1rem;
    }
    /* ============================================================================================================== */
    /* HOME-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */

    .contact_us{
        color: white;
    }

    .contact{
        color: white;
        font-size: 1.2rem;
        width: 6rem;
    }


    .footer_nav_left {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 0.3rem;
        width: 9rem;
    } */

    .footer_nav_left p{
        padding-right: 0.1;
    } 

    .footer_nav_right p{
        padding-left: 0.1;
    }

    .footer_title{
        color: white;
        text-align: right;
        font-size: 1.2rem;
    }

    .footer_l_r {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

    .logo_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .logo_foot{
        margin-left: 0.5rem;
        width: 1rem;
        height: 1rem;
    }

    .footer_logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0;
    }

    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* ABOUT-US-START */
    /* ============================================================================================================== */
    .profile h1{
        font-size: clamp(0.7rem, 4.5vw, 2rem);
        text-align: center;
    }

    .role{
        font-size: clamp(0.2rem, 2vw, 2rem);
    }
    
    .descrip{
        font-size: clamp(0.5rem, 2.5vw, 1.5rem);
        text-align: center;
        margin-top: clamp(0.3rem, 3vw, 2rem);
    }

    /* ============================================================================================================== */
    /* ABOUT-US-END */
    /* ============================================================================================================== */
}

@media (max-width: 460px) {
    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */
    .footer_nav_right {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 0.3rem;
        width: 10rem;
    }
    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */

}

@media (max-width: 395px) {
    /* ============================================================================================================== */
    /* HOME-START */
    /* ============================================================================================================== */
    
    .fill_img {
        min-width: 15rem;
        max-width: 15rem;
        min-height: 7rem;
        max-height: 7rem;
    }

    .home_main_text h2{
        font-size: 1rem;
    }

    .main_author{
        font-size: 0.5rem;
    }

    .blog_content{
        font-size: 0.8rem;
    }

    /* .other{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 3rem;
    }

    .other h1 {
        font-size: 1.5rem;
        padding: 0;
        width: 100%;

    } */

    .scroll_container{
        gap: 0.5rem;                  
    }
/* 
    .line{
        width: 70%;
        margin: auto 0;
    } */
    /* ============================================================================================================== */
    /* HOME-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */
    .footer_title{
            text-align: right;
            min-width: auto;
    }
    .footer_nav_right{
       margin: 0;
    }
    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */
}

@media (max-width: 376px) {
    /* ============================================================================================================== */
    /* HAMBURGER-START */
    /* ============================================================================================================== */
    ul li ul.dropdown a{
        font-size: 1rem;
        padding: 0 2rem;
    }
    /* ============================================================================================================== */
    /* HAMBURGER-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* HOME-START */
    /* ============================================================================================================== */
    
    .scroll_container{
        gap: 2rem;                  
    }

    /* ============================================================================================================== */
    /* HOME-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */
    .footer {
        padding: 1.3rem;
    }


    .footer_nav_right {
        text-align: right;
    }

    .contact{
        width: 6.5rem;
    }


    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */
}

@media (max-width: 360px) {
    /* ============================================================================================================== */
    /* HAMBURGER-START */
    /* ============================================================================================================== */
    .title{
        font-size: 150%;
        margin: auto;
    }
    .subtitle{
        font-size: 60%;
        margin: auto;
    }
    .hamburger{
        font-size: 150%;
        z-index: 999;
    }
    /* ============================================================================================================== */
    /* HAMBURGER-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* HOME-START */
    /* ============================================================================================================== */
    /* .other h1 {
        font-size: 1.2rem;
        padding: 0;
        width: 100%;
    } */

    .fill_img{
        min-width: 12rem;
        max-width: 12rem;
    }

    .main_content h1{
        font-size: 150%;
        padding: auto 1rem;
    }

    .scroll_container{
        gap: 0.5rem;                  
    }

    .line{
        width: 80%;
        margin: auto 0;
    }
    /* ============================================================================================================== */
    /* HOME-END */
    /* ============================================================================================================== */
    /* ============================================================================================================== */
    /* FOOTER-START */
    /* ============================================================================================================== */
    .footer{
        display: none;
    }
    .small_footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;     
        justify-content: center; 
        background-color: #000;   
        color: white;
        padding: 2rem;
        width: 100%;
        
    }

    .small_footer_logo {
        flex-direction: column;
    }

    .small_footer_title, .small_contact {
        margin: 0;
        font-size: 1.3rem;
    }

    .small_footer_l_r {
        position: relative;
        display: flex;
        flex-direction: column;  
        align-items: center; 
        gap: 1rem;
        width: 100%;
    }

    .small_footer_left,
    .small_footer_right {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .small_logo_wrapper {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .small_footer_nav_left,
    .small_footer_nav_right {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        font-size: 0.45rem;
        width: auto;
        justify-content: center;
    }

    .small_logo_foot{
        width: 1rem;
        height: 1rem;
    }

    .small_contact_us{
        padding: 0 1rem;
        text-align: center;
    }

    .small_footer_nav_left a{
        color: white;
    }
    /* ============================================================================================================== */
    /* FOOTER-END */
    /* ============================================================================================================== */
}


